[Desktop Entry]
Type=Application
Name=Alarm Clock
Name[de_DE]=Wecker
Name[es_ES]=Reloj Despertador
Name[fr_FR]=Réveil
Name[nl_NL]=Wekker
Name[pl_PL]=Alarm
name[ru_RU]=будильник
Categories=Applications;
Exec=invoker --type=qtcomponents-qt5 /usr/bin/asteroid-alarmclock
Icon=ios-alarm-outline
X-Desktop-File-Install-Version=0.20
