[Desktop Entry]
Type=Application
Name=Alarm Clock
Name[de_DE]=Wecker
Name[es_ES]=Reloj Despertador
Name[nl_NL]=Wekker
Name[fr_FR]=Réveil
Categories=Applications;
Exec=invoker --type=qtcomponents-qt5 /usr/bin/asteroid-alarmclock
Icon=mate-panel-clock
X-Desktop-File-Install-Version=0.20
