[Unit]
After=pre-user-session.target
Requires=dbus.socket

[Service]
Type=dbus
BusName=com.nokia.voland
Environment=QT_WAYLAND_DISABLE_WINDOWDECORATION=1
ExecStart=/usr/bin/invoker --type=qtcomponents-qt5 /usr/bin/asteroid-alarmclock
ExecStop=
