[Unit]
After=pre-user-session.target
Requires=dbus.socket

[Service]
Type=dbus
BusName=com.nokia.voland
Environment=QT_WAYLAND_DISABLE_WINDOWDECORATION=1
EnvironmentFile=-/var/lib/environment/mapplauncherd/qtcomponents-qt5.conf
ExecStart=asteroid-alarmpresenter
ExecStop=
